<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practical - Component on Vue 2</title>
    <style>
            body {
                background-color: #e3e3e3;
            }
            .panel {
                width: 960px;
                margin: 44px auto;
                border: 1px solid #c5c0c0;
                background-color: #eeeeee;
            }
            .panelTitle {
                background: #D1D1D1;
                font-weight: bold;
                padding: 9px;
                color: #505050;
            }
            .panelContent {
                padding: 22px;
                background-color: #ffffff;
                min-height: 111px;
            }
            .close {
                float: right;
                cursor: pointer;
                padding: 0px 9px;
            }
            .close:hover {
                background-color: #C85454;
            }
            /* Modal */
            .modal {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
            }
            .modalContent {
                width: 960px;
                background-color: #ffffff;
                margin-top: 99px;
                margin-left: auto;
                margin-right: auto;
            }
            .modalHeader {
                background-color: #efefef;
                font-weight: bold;
                padding: 16px 9px;
                color: #505050;
            }
            .modalBody {
                padding: 22px;
                background-color: #ffffff;
                min-height: 222px;
            }
            .modalFooter {
                background-color: #D1D1D1;
                font-weight: bold;
                padding: 9px;
                color: #505050;
            }
            /* Tab */
            .tab {
                border: 1px solid #4c4c4c;
                width: 960px;
                min-height: 111px;
                background-color: #ffffff;
                margin: 44px auto;
            }
            .tab ul {
                margin: 0px;
                list-style-type: none;
                background-color: #B5B5B5;
            }
            .tab li {
                display: inline-block;
                cursor: pointer;
                padding: 9px;
                margin-top: 9px;
            }
            .tab li.active {
                background-color: #FFFFFF;
            }
            .details {
                padding: 44px;
            }
        </style>
</head>
<body>

    <div id="root">
        <tabs>
            <tab name="Tab1" selected="true">Tab1 content...<button>btn 1</button></tab>
            <tab name="Tab2">Tab2 content...</tab>
            <tab name="Tab3">Tab3 content...</tab>
        </tabs>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        // tab contents

        var Event = new Vue();

        Vue.component('tabs', {
            template: `
                <div class="tab">
                    <ul>
                        <li v-for="tab in tabs" :class="{'active':tab.selectedNow}" @click="makeEvent(tab.name)">
                            {{ tab.name }}
                        </li>
                    </ul>

                    <div class="details">
                        <slot></slot>
                    </div>
                </div>
            `,
            data: function(){
                return {
                    tabs: []
                }
            },
            methods: {
                makeEvent: function(s){
                    Event.$emit('tabChange', s);
                }
            },
            created: function(){
                this.tabs = this.$children;
            }
        });
        Vue.component('tab', {
            template: `
                <div v-if="selectedNow">
                    <slot></slot>
                </div>
            `,
            data: function(){
                return {
                    selectedNow: false
                }
            },
            created: function(){
                var currentTab = this;

                currentTab.selectedNow = currentTab.selected;

                Event.$on('tabChange', function(s){
                    console.log(s);

                    if(s == currentTab.name){
                        currentTab.selectedNow = true;
                    }
                    else {
                        currentTab.selectedNow = false;
                    }
                });
            },
            props: ['name', 'selected']
        });
    </script>
    <script type="text/javascript">

        var app = new Vue({
            el: '#root',
            data: {
                
            }
        });
    </script>
</body>
</html>