<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computed property on Vue 2</title>
</head>
<body>

    <div id="root">
        <h2>Expences </h2>
        <hr>
        <ul>
            <li v-for="(payment, i) in payments">
                {{ payment.name }} ({{ payment.amount }})
            </li>
        </ul>
        <h2>Unpaid Expences</h2>
        <ul>
            <li v-for="(unpaidPayment, i) in unpaidPayments">
                {{ unpaidPayment.name }} ({{ unpaidPayment.amount }})
            </li>
        </ul>
        <hr>
        <h2>Total Amount: {{ totalAmount }}</h2>
    </div>
    
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#root',
            data: {
                payments: [
                    {name: 'House rent: ', amount: 15000, paid: true},
                    {name: 'Electricity: ', amount: 1000, paid: true},
                    {name: 'Gas: ', amount: 500, paid: false},
                    {name: 'Water: ', amount: 1000, paid: false},
                    {name: 'Internet: ', amount: 500, paid: false},
                ]
            },
            computed: {
                unpaidPayments(){
                    return this.payments.filter(function(p){
                        return !p.paid;
                    });
                },
                totalAmount(){
                    var sum = 0;

                    for(var i = 0; i < this.payments.length; i++){
                        sum += this.payments[i].amount;
                    }

                    return sum;
                }
            }
        });
    </script>
</body>
</html>