<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components on Vue 2</title>
    <style>
        body {
            background-color: #e3e3e3;
        }
        .panel {
            width: 960px;
            margin: 44px auto;
            border: 1px solid #c5c0c0;
            background-color: #eeeeee;
        }
        .panelTitle {
            background: #D1D1D1;
            font-weight: bold;
            padding: 9px;
            color: #505050;
        }
        .panelContent {
            padding: 22px;
            background-color: #ffffff;
            min-height: 111px;
        }
        .close {
            float: right;
            cursor: pointer;
            padding: 0px 9px;
        }
        .close:hover {
            background-color: #C85454;
        }
    </style>
</head>
<body>

    <div id="root">
            <panel title="This is title">
                <h2>Fill up the form</h2>
                
                <form action="" method="POST">
                    <input type="text" name="username" placeholder="Enter username here..."/>
                    <input type="submit" name="submit" value="Submit"/>
                </form>
            </panel>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        Vue.component('panel', {
            template: `
                <div class="panel" v-if="show">
                    <div class="panelTitle">
                        <div class="close" @click="show = false">X</div>
                        {{ title }}
                    </div>
                    <div class="panelContent">
                        <slot></slot>
                    </div>
                </div>
            `,
            props: ['title'],
            data: function(){
                return {
                    show: true
                }
            }
        });

        var app = new Vue({
            el: '#root',
            data: {

            }
        });
    </script>
</body>
</html>