<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Component communication on Vue 2</title>
    <style>
            body {
                background-color: #e3e3e3;
            }
            .panel {
                width: 960px;
                margin: 44px auto;
                border: 1px solid #c5c0c0;
                background-color: #eeeeee;
            }
            .panelTitle {
                background: #D1D1D1;
                font-weight: bold;
                padding: 9px;
                color: #505050;
            }
            .panelContent {
                padding: 22px;
                background-color: #ffffff;
                min-height: 111px;
            }
            .close {
                float: right;
                cursor: pointer;
                padding: 0px 9px;
            }
            .close:hover {
                background-color: #C85454;
            }
            /* Modal */
            .modal {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.5);
            }
            .modalContent {
                width: 960px;
                background-color: #ffffff;
                margin-top: 99px;
                margin-left: auto;
                margin-right: auto;
            }
            .modalHeader {
                background-color: #efefef;
                font-weight: bold;
                padding: 16px 9px;
                color: #505050;
            }
            .modalBody {
                padding: 22px;
                background-color: #ffffff;
                min-height: 222px;
            }
            .modalFooter {
                background-color: #D1D1D1;
                font-weight: bold;
                padding: 9px;
                color: #505050;
            }
        </style>
</head>
<body>

    <div id="root">
        <button @click="showLogin = true">Login</button>
        <modal v-if="showLogin" @onsave="showLogin = false">
            <template slot="header">
                This is modal header
            </template>
            <template slot="body">
                <h2>Enter username</h2>
                <form action="" method="POST">
                    <input type="text" name="username"/>
                    <input type="submit" name="submit" value="Submit"/>
                </form>
            </template>
        </modal>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        Vue.component('modal', {
            template: `
                <div class="modal">
                    <div class="modalContent">
                        <div class="modalHeader">
                            <slot name="header"></slot>
                        </div>
                        <div class="modalBody">
                            <slot name="body"></slot>
                        </div>
                        <div class="modalFooter">
                            <button @click="$emit('onsave')">Save</button>
                            <button>Cancel</button>
                        </div>
                    </div>
                </div>
            `
        });

        var app = new Vue({
            el: '#root',
            data: {
                showLogin: false
            }
        });
    </script>
</body>
</html>