<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events & Methods on Vue 2</title>
</head>
<body>

    <div id="root">
        <h2>Skills</h2>
        <hr>
        <ul>
            <li v-for="(skill, i) in skills">{{ skill }} 
                <button @click="removeSkill(i)">X</button>
            </li>
        </ul>
        <input type="text" v-model="newSkill">
        <button v-on:click="addNewSkill">Add</button>
    </div>
    
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#root',
            data: {
                newSkill: '',
                skills: ['PHP', 'MySql', 'WordPress', 'Laravel']
            },
            methods: {
                addNewSkill(){
                    this.skills.push(this.newSkill);
                    this.newSkill = '';
                },
                removeSkill(i){
                    this.skills.splice(i,1);
                }
            }
        });
    </script>
</body>
</html>