<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filter on Vue 2</title>
</head>
<body>

    <div id="root">
        <h2>{{ name | upper }}</h2>
        <h2>{{ profession | lower }}</h2>
        <h2>{{ today | bdFormat }}</h2>
    </div>
    
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">

        Vue.filter('lower', function(s){
            return s.toLowerCase();
        });

        var app = new Vue({
            el: '#root',
            data: {
                name: 'S Ahmed Naim',
                profession: 'Software Engineer',
                today: new Date()
            },
            filters: {
                upper(s){
                    return s.toUpperCase();
                },
                bdFormat(d){
                    return d.getUTCDate() + "-" + (d.getUTCMonth()+1) + "-" + d.getUTCFullYear();
                }
            }
        });
    </script>
</body>
</html>