<!DOCTYPE html>
<html>
<head>
	<title>vue.js 2</title>
	<style>
		ul {
			list-style-type: none;
		}
		li {
			display: inline;
		}
		.active {
			background-color: cornflowerblue;
			color: whitesmoke;
			padding: 5px;
		}
	</style>
</head>
<body>

	<div id="root">
		{{ message }}
	</div>

	<hr>

	<div id="universityName">
		<p>Enter your University Name</p>	
		<input type="text" v-model="university">
		<br>
		<h2>Your University Name: {{ university }}</h2>
	</div>

	<hr>

	<div id="attrbind">
		<ul>
			<li><a :class="{'active':activeLink == 'link1'}" :href="link1.url" v-bind:title="link1.title">{{ link1.text }}</a></li>
			<li><a :class="{'active':activeLink == 'link2'}" :href="link2.url" v-bind:title="link2.title">{{ link2.text }}</a></li>
		</ul>
		<hr>
		<p v-html="html">
			{{ html }}
		</p>
	</div>


	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#root',
			data: {
				message: 'S Ahmed Naim'
			}
		});

		var temp = new Vue({
			el: '#universityName',
			data: {
				university: ' University'
			}
		});

		var attrBind = new Vue({
			el: '#attrbind',
			data: {
				link1: {
					text: 'Facebook', title: 'Go to Facebook', url: 'http://www.facebook.com'
				},
				link2: {
					text: 'YouTube', 'title': 'Go to YouTube', url: 'http://www.youtube.com'
				},
				activeLink:'link1',

				html: '<a href="https://sahmednaim.com">S Ahmed Naim</a>'
			}
		});

	</script>
</body>
</html>