<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering on Vue 2</title>
</head>
<body>
    <div id="root">
        <ul>
            <li v-for="(skill, i) in skills" v-if="skill.experience > 2">
                {{ i+1 }} => {{ skill.name }} ({{ skill.experience }})
            </li>
        </ul>
        <p v-if="show">Showing</p>
        <p v-else>Not Showing</p>
    </div>

    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#root',
            data: {
                skills: [
                    {name: 'HTML', experience: 5},
                    {name: 'CSS', experience: 5},
                    {name: 'JavaScript', experience: 1},
                    {name: 'jQuery', experience: 1},
                    {name: 'PHP', experience: 2},
                    {name: 'MySQL', experience: 2},
                    {name: 'Laravel', experience: 1},
                    {name: 'Bootstrap', experience: 2},
                    {name: 'WordPress', experience: 1},
                    {name: 'Vue.JS', experience: 1}
                ],
                show: true
            }
        });
    </script>
</body>
</html>